
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
1.A/.idea/1.A.iml
1.A/.idea/misc.xml
1.A/.idea/modules.xml
1.A/.idea/vcs.xml
1.A/.idea/workspace.xml
1.B/.idea/misc.xml
1.B/.idea/modules.xml
1.B/.idea/vcs.xml
1.B/1.B.iml
1.B/out/production/1.B/models/models.class
1.B/out/production/1.B/test/Test.class
1.C/.idea/misc.xml
1.C/.idea/modules.xml
1.C/.idea/uiDesigner.xml
1.C/.idea/vcs.xml
1.C/1.C.iml
1.C/out/production/1.C/models/Models.class
1.C/out/production/1.C/test/Test.class
2. Dates/.idea/misc.xml
2. Dates/.idea/modules.xml
2. Dates/.idea/vcs.xml
2. Dates/2. Dates.iml
3 Exercises/.idea/misc.xml
3 Exercises/.idea/modules.xml
3 Exercises/.idea/vcs.xml
3 Exercises/3 Exercises.iml
3 Exercises/out/production/3 Exercises/models/Models.class
3 Exercises/out/production/3 Exercises/test/Test.class
PicasYFijas/.idea/misc.xml
PicasYFijas/.idea/modules.xml
PicasYFijas/.idea/vcs.xml
PicasYFijas/out/production/PicasYFijas/test/Test.class
PicasYFijas/PicasYFijas.iml
*.iml
*.class
